{% extends "base.html" %}
{% block title %}Chemistry{% endblock %}
{% block body %}
<div class="text-center align-self-center" style="margin: 20px 100px 20px 100px;">
<h1><em>Geology</em></h1>
{% block k %}
<div class="card d-inline-block" style="width: 18rem; margin-left: 20px;">
    <img src="{{ url_for('static', filename='ph.jpg') }}" class="card-img-top" alt="pH" style="height: 200px;">
    <div class="card-body">
            <h5 class="card-title">Corundum</h5>
            <a href="/geology/corundum" class="btn btn-primary">Learn more</a>
    </div>
</div>
{% endblock k %}
</div>
{% endblock body %}
